h1 {
  background-color: pink;
  display: inline;
}

span {
  color: magenta;
  border: 2px solid cyan;
  /* padding: 10px;
  margin: 20px; */
  /* display: block; */
  /* width: 500px;
  height: 500px; */
}
/* 
a {
  display: block;
} */
